# Entorno virtual
venv/
env/
.venv/
venv312/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Outputs
output/
*.pdf
*.png
*.jpg

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Complementos
create_icon/